:root{
  font-size: calc(0.6em + 0.4vmax);
}
body{
  font-family: sans-serif;
  padding: 1em;
  --color-peligro: rgba(224, 57, 57, 1);
  --color-peligro-light: rgba(236, 85, 85, 1);
  --color-enfasis: rgba(42, 133, 198, 1);
  --color-enfasis-light: rgba(60, 165, 240, 1);
}
.grid{
  display: grid;
  margin-top: 2em;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(250px,max-content));
}
.book-card{
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}
.book-card, .book-card .body, .book-card .controls-set{
  display: flex;
}
.book-card, .book-card.upload .body, .book-card .controls-set{
  flex-flow: column;
}
.book-card img{
  width: 100%;
}
.book-card .title{
  flex-grow: 1;
  margin: 0.5em 0 1em;
}
.book-card .title > *, .book-card .body > *{
  margin: 0;
}
.book-card .title{
  padding: 0 0.5em;
}
.book-card .body{
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5em;
}
.book-card .body p:first-child{
  font-weight: bold;
  font-size: 1.2em;
}
h1{
  margin: 0;
}
span a{
  color: inherit;
}
span a:hover{
  color: rgba(80, 80, 80, 1);
}

.book-card.upload{
  width: min-content;
  max-width: 300px;
}
.book-card.upload > img{
  max-width: 300px;
  object-fit: cover;
}
.book-card.upload .body{
  align-items: flex-start;
}
.book-card.upload .controls-set{
  width: 100%;
  margin: 0.5em 0;
}
.book-card.upload .controls-set label{
  font-weight: bold;
}
.book-card.upload .controls-set label + button{
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 0;
  width: max-content;
  color: var(--color-enfasis);
}
.book-card.upload .controls-set button:hover{
  color: var(--color-enfasis-light);
}
.book-card.upload .controls-set input{
  flex-grow: 1;
}
.book-card.upload .controls-set.action{
  flex-flow: row wrap;
}
.book-card.upload .controls-set.action button{
  border-radius: 0;
  flex-grow: 1;
  background: none;
  border: none;
  padding: 1em;
  color: rgba(255, 255, 255, 1);
}
.book-card.upload .controls-set.action button[type="submit"]{
  background-color: var(--color-enfasis);
}
.book-card.upload .controls-set.action button[type="submit"]:hover{
  background-color: var(--color-enfasis-light);
}
.book-card.upload .controls-set.action button[type="reset"]{
  background-color: var(--color-peligro);
}
.book-card.upload .controls-set.action button[type="reset"]:hover{
  background-color: var(--color-peligro-light);
}
